// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
// @import "active_admin/mixins";
// @import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
//Nav Config
$navbar-inverse-bg: #446CB3;
$navbar-inverse-border: none;
$navbar-inverse-brand-color: #fff;
$navbar-inverse-link-color: #fff;

//Font config
$font-size-large: 10px;
$navbar-padding-horizontal: 0px;
@import "active_bootstrap_skin";

.site_title a{
  color: white;
  font-weight: bold;
  background: #36568e;
  padding: 14px 10px 14px 10px;
  font-size: 1.800em;
}

.clear_filters_btn{
  margin-left: 10px;
}
